<body class="container" style="background: #E4E4E4; padding: 5% 2.5%;font-family: &quot;Gotham-Book&quot;, &quot;Helvetica&quot;, sans-serif;line-height: 1.5em;color: #404040;font-size: 16px;">
    <div class="content" style="padding: 7.5%;background: white;">
        <div>Hi
            {{ firstName }},</div>
        <div style="margin-top:20px">Thanks for submitting a bug report!</div>

        <div style="margin-top: 20px; margin-bottom:20px;">
            This is an autoresponse to let you know that we'll get back to you within about two business days. In the meantime, the articles and videos below often resolve most issues.
        </div>
        <ol class="list" style="font-size: 18px;font-family: &quot;Gotham-Medium&quot;, &quot;Helvetica&quot;, sans-serif;">
            <li style="margin-bottom:10px; margin-left:0px;">
                Thumbnail images are not working (they are black or white)
            </li>
            <a class="link" href="https://alpinelaboratories.com/pages/pulse-image-review-problems_s" style="font-family: &quot;Gotham-Book&quot;, &quot;Helvetica&quot;, sans-serif;font-size: 16px; margin-left: -10px;">Read This Page</a>
            <li style="margin-top:20px; margin-bottom:10px; margin-left:0px;">
                Thumbnail images won't turn on
            </li>
            <a class="link" href="https://alpinelaboratories.com/pages/pulse-support-image-preview-unavailable_s" style="font-family: &quot;Gotham-Book&quot;, &quot;Helvetica&quot;, sans-serif;font-size: 16px; margin-left: -10px;">Watch This Video</a>
            <li style="margin-top:20px; margin-bottom:10px; margin-left:0px;">
                Pulse won't connect to my camera
            </li>
            <a class="link" href="https://alpinelaboratories.com/pages/no-camera-connected-in-app_s" style="font-family: &quot;Gotham-Book&quot;, &quot;Helvetica&quot;, sans-serif;font-size: 16px; margin-left: -10px;">Watch This Video</a>
            <li style="margin-top:20px; margin-left:0px; margin-bottom:10px;">
                Pulse won't connect to my phone (the app)
            </li>
            <a class="link" href="https://alpinelaboratories.com/pages/pulse-support-app-cant-find-pulse" style="font-family: &quot;Gotham-Book&quot;, &quot;Helvetica&quot;, sans-serif;font-size: 16px; margin-left: -10px;">Read This Page</a>
        </ol>

        <div style="margin-top:20px;">-The Alpine Labs team</div>
        <img src="https://alpinelabsemail.herokuapp.com/images/alpine-logo.png" style="width:67px; height:50px; margin-top:10px">

    </div>
</body>
<style>
    .link {
        font-family: "Gotham-Book", "Helvetica", sans-serif;
        font-size: 16px;
    }
    .list {
        font-size: 18px;
        font-family: "Gotham-Medium", "Helvetica", sans-serif;
    }
    .container {
        background: #E4E4E4;
        font-family: "Gotham-Book", "Helvetica", sans-serif;
        line-height: 1.5em;
        color: #404040;
        font-size: 16px;
        padding: 5% 2.5%;
    }
    .content {
        padding: 7.5%;
        background: white;
    }
    @font-face {
        font-family: 'Gotham-Book';
        src: url('https://alpinelabsemail.herokuapp.com/fonts/Gotham-Book.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Gotham-Medium';
        src: url('https://alpinelabsemail.herokuapp.com/fonts/Gotham-Medium.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }

</style>
