<body class="container">
    <div class="content">
        <div>Hello
            {{ firstName }},</div>
        <div style="margin-top: 20px; margin-bottom:20px">
            Thank you for submitting a bug report! We've found that most bug reports can be resolved in a 3 minutes by reading the pages below. Please take a look and if the articles or videos below don't solve the issue, email us back and we'll take a deeper
            look at what is going on!
        </div>
        <ol class="list">
            <li>
                Thumbnail images are not working (Black or White Images)
            </li>
            <a class="link" href="https://alpinelaboratories.com/pages/pulse-image-review-problems_s">Read This Page</a>
            <li>
                Thumbnail Images won't turn on
            </li>
            <a class="link" href="https://alpinelaboratories.com/pages/pulse-support-image-preview-unavailable_s">Watch This Video</a>
            <li>
                Pulse won't connect to my camera
            </li>
            <a class="link" href="https://alpinelaboratories.com/pages/no-camera-connected-in-app_s">Watch This Video</a>
            <li>
                Pulse won't connect to my phone (the app)
            </li>
            <a class="link" href="https://alpinelaboratories.com/pages/pulse-support-app-cant-find-pulse">Read This Page</a>
        </ol>

        <div style="margin-top:20px; margin-bottom:20px;">Again, if the issue isn't resolved by the articles or videos below, let us know and we'll take a closer look!</div>

        <div>-The Alpine Labs team</div>
        <img src="https://alpinelabsemail-staging.herokuapp.com/images/alpine-logo.png" style="width:50px; height:50px">

    </div>
</body>
<style>
    .link {
        font-family: "Gotham-Book", "Helvetica", sans-serif;
        font-size: 16px;
    }
    .list {
        font-size: 20px;
        font-family: "Gotham-Medium", "Helvetica", sans-serif;
    }
    .container {
        background: #E4E4E4;
        font-family: "Gotham-Book", "Helvetica", sans-serif;
        line-height: 1.5em;
        color: #404040;
        font-size: 16px;
    }
    .content {
        margin: 2.5%;
        padding: 7.5%;
        background: white;
    }
    @font-face {
        font-family: 'Gotham-Book';
        src: url('https://alpinelabsemail-staging.herokuapp.com/fonts/Gotham-Book.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Gotham-Medium';
        src: url('https://alpinelabsemail-staging.herokuapp.com/fonts/Gotham-Medium.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }

</style>
